// Colors
$color-white: #fff;
$color-black: #000;
$color-magenta: #ec008c;
$color-light-gray: #eee;
$color-translucent-black: rgba(0, 0, 0, .5);

// Icons
$icon-height: 72px;
$icon-width: 72px;
$icon-menu-url: "/images/toggle-open.svg#open";
$icon-close-url: "/images/toggle-close.svg#close";